{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "config": "./src/config",
          "epics": "./src/epics",
          "lib": "./src/lib",
          "models": "./src/models",
          "modules": "./src/modules",
          "navigation": "./src/navigation",
          "repositories": "./src/repositories",
          "services": "./src/services",
          "state": "./src/state",
          "stores": "./src/stores",
          "theme": "./src/theme",
          "util": "./src/util"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
